<div class=container>
  <h1>Search Campaigns</h1>
  <search-box search-type={{viewModel.searchType}} prompt="Candidate, Measure, or PAC Name" search-term={{viewModel.searchTerm}}></search-box>
  <div ng-repeat="(index, campaign) in viewModel.campaigns">
    <campaign-tile campaign=campaign></campaign-tile>
  </div>
  <p><a href=#>Show Advanced Options</a></p>
</div>
<!-- <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Search Campaigns</h1>
        <div class="form-group">
          <search-box search-type="candidate" prompt="Candidate Name" ></search-box>
          <search-box search-type="initiative" prompt="Ballot Measure" ></search-box>
          <search-box search-type="party" prompt="Political Party" ></search-box>
        </div>
      </div>
    </div>
</div> -->